/* In your styles.css or a similar stylesheet */
body {
  background-image: url("../public/images/bg.jpg");
  background-size: cover; /* This ensures the image covers the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */
  background-attachment: fixed; /* Make the background fixed on scroll */
  margin: 0;
  padding: 0;
}
